<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<%- include ('../partials/head') %>
	</head>

<body>
<div id="wrapper">

   <div id="branding">
		<%- include ('../partials/header') %>
   </div>

   <div id="contant">
		<%- include ('../partials/contentFirst') %>
   </div>

   <div class="midBox1">
		<%- include ('../partials/contentSecond') %>
	  </div>
	  
   <div class="midBox2">
		<%- include ('../partials/contentThird') %>
   </div>

   <div id="footer">
   	 <%- include ('../partials/footer') %>
   </div>

 </div>
    <div id="footerContainer">
   <p>
       <%= new_paragraph %>
	</p>
   </div>
</body>
</html>
